<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style-homepage.css">
    <link rel="stylesheet" href="font/fontawesome/css/all.css">
    <link rel="stylesheet" href="font/FontAwesome1/css/all.css">
</head>
<body>
<div class="container">

    <nav class="navbar">
        <a href=""><img class="logo" src="img/logo-render.png" ></a>
        <a href=""><img class="logo-hover" src="img/logo-render-orange.png" ></a>

        <div class="dropdown">
            <button class="menu-btn"> <i class="fas fa-bars"></i> </button>
            <div class="menu">
                <ul class="list">

                    <li><a href="#">Home</a></li>
                    <span></span>
                    <li><a href="#">Home</a></li>
                    <span></span>
                    <li><a href="#">Home</a></li>
                    <span></span>
                    <li><a href="#">Home</a></li>
                    <span></span>
                    <li><a href="#">Home</a></li>
                    <span></span>
                </ul>
            </div>
        </div>

    </nav>

    <section>

        <div class="text">
            <h1 class="welcome">Welcome To</h1>
            <h3 class="fpt_dormitory">FPT Dormitory</h3>
            <p class="pls">It’s our pleasure to be a part of your college life.
                FPT Dormitory is not only a house, but also a home where
                you can feel the warmth of family. At FPT Dormitory, we make
                sure our clients’ hearts are at the heart of our bussiness,
                because “Home is where the heart is.” </p>
            <a class="explore" href="#">Explore More</a>
        </div>

    </section>

    <section >
        <div class="text2">

            <p>
                Ở FPT Dormitory, chúng tôi có hai lựa chọn về phòng ở cho bạn: Có điều hòa và không có điều hòa.
                Ngoài ra không có sự khác biệt nào khác giữa hai loại, bạn có thể dễ dàng đưa ra quyết định của mình hơn.
            </p>
            <div class="icon">


                <div class="a1">
                    <i class="fa fa-air-conditioner ACD"></i>
                    <a class="get-started-1" href="#">
                        Get Started</a>
                </div>
                <div class="a2">
                    <a class="get-started-2" href="#">Get Started</a>
                    <i class="fa fa-fan-table fan"></i>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="text3">
            <p>
                FPT Dormitory hiểu rõ chỗ ở là một nhu cầu cấp thiết,
                đặc biệt là đối với các sinh viên xa nhà. Do đó, chúng tôi
                bảo đảm giữ cho các thủ tục check-in được đơn giản nhất có thể.
            </p>
            <a class="learn-more" href="#">Learn More</a>
        </div>
    </section>


    <section>
        <div class="text3">
            <p>
                Đến với FPT Dormitory, tất cả thắc mắc về hệ thống KTX của chúng tôi
                sẽ được giải đáp tận tình khi bạn liên hệ với đội ngũ quản lý KTX.
                Nếu có bất kỳ câu hỏi nào, vui lòng liên hệ ngay với chúng tôi.
            </p>
            <a class="contact-us" href="#">Contact Us</a>
        </div>
    </section>
    <footer>
        <ul class="footer1">

            <li><a href="#">Home</a></li>

            <li><a href="#">Home</a></li>

            <li><a href="#">Home</a></li>

            <li><a href="#">Home</a></li>

            <li><a href="#">Home</a></li>

        </ul>
    </footer>
    <div class="copyright">
        Copyright © 2022 All rights reserved
    </div>
</div>




</body>
</html>